<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <!--错误日志配置-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--设置文本日志将来是写到网站更目录下的Log\\LogError\\文件夹中,如果没有自动创建-->
      <param name="File" value="Log\\LogError\\"/>
      <!--以追加的方式将后面日志写入到日志文件中-->
      <param name="AppendToFile" value="true"/>
      <!--表示日志文件到达上限值时备份-->
      <param name="MaxSizeRollBackups" value="1000"/>
      <!--表示一个日志文件最大只能写入10M的数据-->
      <param name="MaxFileSize" value="10240"/>
      <!--false：表示日志文件按照一定的规则来生成文件名称，true:表示日志文件名称永远都不会改变-->
      <param name="StaticLogFileName" value="false"/>
      <!--表示日志文件的文件名称以yyyyMMdd-->
      <param name="DatePattern" value="yyyyMMdd'.log'"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--表示日志文件中的内容输出格式-->
        <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m %n "/>
      </layout>
    </appender>
    <!--信息日志配置-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\"/>
      <!--文件路径-->
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd'.log'"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n%m %n"/>
      </layout>
    </appender>
    <!--udp传送配置-->
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="Encoding" value="utf-8" />
      <remoteAddress value="192.168.1.43" />
      <remotePort value="5514" />
      <layout type="log4net.Layout.PatternLayout" value="&lt;1&gt;1 %utcdate{yyyy-MM-ddTHH:mm:ss:FFZ} [%property{NDC}] %logger thread=[%thread] SOA %thread %level - %message%newline"/>
    </appender>
    <!--控制台-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline"/>
      </layout>
    </appender>
    <logger name="logerror">
      <level value="ERROR"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
    <logger name="logInfo">
      <!--ALL:写错误，警告，信息三种类型的日志，-->
      <level value="INFO"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
  </log4net>
</configuration>
