<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
<extensions>
    <add assembly="DH.Nlog.ElasticSearch.dll"/>
</extensions>

  <targets async="true">
	 <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"
            name="%USERNAME%"
						uri="http://127.0.0.1:9200/,"
						index="log" documentType="logevent" />
    </target>
		<!--<target name="elastic" 
						xsi:type="ElasticSearch"
						uri="http://192.168.1.8:9200/"  
						index="log" documentType="logevent" />-->
    <target name="logfile" 
            xsi:type="File" 
            fileName="${basedir}/Log/${shortdate}/${logger}_${level}.log" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${event-context:item=EventId}${newline}${message}${newline}${ndc}" />
  </targets>
   <!--成的日志记录名的规范为 根目录/LogFile文件夹/当前日期文件夹(2015-08-01)格式/类名_等级(Info).txt-->

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
		<logger name="*" minlevel="Info" writeTo="elastic" />
  </rules>
</nlog>